<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<title>Fields</title>
</head>
<body>
	<h3 style="color:red" th:text="${error}"></h3>
	<h3 style="color:green" th:text="${succes}"></h3>	
	<div>
		<h1 class="col-12 text-center">Informations about a Field</h1>
		
		<div class="offset-5 col-2 d-flex">
			<div class="col-6 d-flex justify-content-start">
				<span><strong>Identifier : </strong></span>
			</div>
			<div class="col-6 d-flex justify-content-end">
				<span th:text="${field.idField}"></span>
			</div>
		</div>
		
		<div class="offset-5 col-2 d-flex">
			<div class="col-6 d-flex justify-content-start">
				<span><strong>Aera : </strong></span>
			</div>
			<div class="col-6 d-flex justify-content-end">
				<span th:text="${field.aera}"></span>
			</div>
		</div>
		
		<div class="offset-5 col-2 d-flex">
			<div class="col-6 d-flex justify-content-start">
				<span><strong>Ground Type : </strong></span>
			</div>
			<div class="col-6 d-flex justify-content-end">
				<span th:text="${field.groundType}"></span>
			</div>
		</div>
		
		<div class="offset-5 col-2 d-flex">
			<div class="col-6 d-flex justify-content-start">
				<span><strong>Exposition Type : </strong></span>
			</div>
			<div class="col-6 d-flex justify-content-end">
				<span th:text="${field.expositionType}"></span>
			</div>
		</div>
		
		<div class="offset-5 col-2 d-flex">
			<div class="col-6 d-flex justify-content-start">
				<span><strong>Potager identifier : </strong></span>
			</div>
			<div class="col-6 d-flex justify-content-end">
				<span th:text="${field.potager.idPotager}"></span>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<a th:href="@{/field/update/{id}(id=${field.idField})}"><button class="btn btn-primary m-2">Update</button></a>
			<a th:href="@{/field/delete/{id}(id=${field.idField})}"><button class="btn btn-primary m-2">Delete</button></a>
		</div>
	</div>	
	<br/>
	<h2 class="col-12 text-center">List of Implantations</h2>
	<div class="offset-2 col-8">
		<table class="table">
			<thead>
				<tr>
					<th>Identifier</th>
					<th>Plant name</th>
					<th>Number of plant</th>
					<th>Establishment</th>
					<th>Harvest Time</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="implantation : ${field.implantations}">
					<th th:text="${implantation.idImplentation}"></th>
					<td th:text="${implantation.plant.name}"></td>
					<td th:text="${implantation.nbPlant}"></td>
					<td th:text="${implantation.establishment}"></td>
					<td th:text="${implantation.harvest}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="d-flex justify-content-center">
		<a th:href="@{/implantation/create/{idField}(idField=${field.idField})}"><button class="btn btn-primary m-2">Create Implantation</button></a>
		<a th:href="@{/potager}"><button class="btn btn-primary m-2">Go Back To List</button></a>
	</div>
</body>
</html>