<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<title>Fields</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-info">
	  <div class="container-fluid">
	    <a class="navbar-brand" th:href="@{/}">MyPotager</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	      <div class="navbar-nav">
	        <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
	        <a class="nav-link" th:href="@{/potager}">Potager List</a>
	        <a class="nav-link" th:href="@{/field}">Field List</a>
	        <a class="nav-link" th:href="@{/plant}">Plant List</a>
	      </div>
	    </div>
	  </div>
	</nav>
	<h3 class="text-danger col-12 text-center" th:text="${error}"></h3>
	<h3 class="text-success col-12 text-center" th:text="${succes}"></h3>	
	<div>
		<h1 class="col-12 text-center">Informations about the field</h1>
		<div class="offset-5 col-2 d-flex">
			<div class="col-6 d-flex justify-content-start">
				<span><strong>Identifier : </strong></span>
			</div>
			<div class="col-6 d-flex justify-content-end">
				<span th:text="${field.idField}"></span>
			</div>
		</div>
		
		<div class="offset-5 col-2 d-flex">
			<div class="col-6 d-flex justify-content-start">
				<span><strong>Aera : </strong></span>
			</div>
			<div class="col-6 d-flex justify-content-end">
				<span th:text="${field.aera}"></span>
			</div>
		</div>
		
		<div class="offset-5 col-2 d-flex">
			<div class="col-6 d-flex justify-content-start">
				<span><strong>Ground Type : </strong></span>
			</div>
			<div class="col-6 d-flex justify-content-end">
				<span th:text="${field.groundType}"></span>
			</div>
		</div>
		
		<div class="offset-5 col-2 d-flex">
			<div class="col-6 d-flex justify-content-start">
				<span><strong>Exposition Type : </strong></span>
			</div>
			<div class="col-6 d-flex justify-content-end">
				<span th:text="${field.expositionType}"></span>
			</div>
		</div>
		
		<div class="offset-5 col-2 d-flex">
			<div class="col-6 d-flex justify-content-start">
				<span><strong>Potager identifier : </strong></span>
			</div>
			<div class="col-6 d-flex justify-content-end">
				<span th:text="${field.potager.idPotager}"></span>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<a th:href="@{/field/update/{id}(id=${field.idField})}"><button class="btn btn-success m-2">Update</button></a>
			<a th:href="@{/field/delete/{id}(id=${field.idField})}"><button class="btn btn-danger m-2">Delete</button></a>
		</div>
	</div>	
	<br/>
	<h2 class="col-12 text-center">List of Implantations</h2>
	<div class="offset-2 col-8">
		<table class="table">
			<thead>
				<tr>
					<th class="text-center">Identifier</th>
					<th class="text-center">Plant name</th>
					<th class="text-center">Number of plant</th>
					<th class="text-center">Establishment</th>
					<th class="text-center">Harvest Time</th>
					<th class="text-center"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="implantation : ${field.implantations}">
					<th th:text="${implantation.idImplentation}" class="text-center"></th>
					<td th:text="${implantation.plant.name}" class="text-center"></td>
					<td th:text="${implantation.nbPlant}" class="text-center"></td>
					<td th:text="${implantation.establishment}" class="text-center"></td>
					<td th:text="${implantation.harvest}" class="text-center"></td>
					<td class="text-center">
						<a th:href="@{/implantation/update/{id}(id=${implantation.idImplentation})}"><button class="btn btn-success m-2">Update</button></a>
						<a th:href="@{/implantation/delete/{id}(id=${implantation.idImplentation})}"><button class="btn btn-danger m-2">Delete</button></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="d-flex justify-content-center">
		<a th:href="@{/implantation/create/{idField}(idField=${field.idField})}"><button class="btn btn-success m-2">Create Implantation</button></a>
		<a th:href="@{/potager/{id}(id=${field.potager.idPotager})}"><button class="btn btn-danger m-2">Go Back To Potager</button></a>
	</div>
</body>
</html>