<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CALCULATRICE</title>
</head>
<body>
<!-- <h1 th:text="${msg}"></h1>
<form th:action="@{/calc}" th:object="${calculatriceForm}" method="post">
    <label for="numA">Nombre 1</label>
    <input type="number" step="0.1" th:field="*{numA}" id="numA" placeholder="nombre 1">
    <label for="operateur">Operateur</label>
    <input type="text" th:field="*{operateur}" id="operateur" placeholder="Operateur">
    <label for="numB">Nombre 2</label>
    <input type="number" step="0.1" th:field="*{numB}" id="numB" placeholder="nombre 2">
    <input type="submit" value="Calculer">   
</form>
<div th:switch="${resultats}">
	<h2 th:case="null">Pas d'enregistrement pour le moment</h2>
	<div th:case="*">
		<h2>Resultat des derniers calcules</h2>
		<table>
			<thead>
				<tr>
					<th>Num 1</th>
					<th>Ope.</th>
					<th>Num 2</th>
					<th></th>
					<th>Res</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="calc : ${resultats}">
					<td th:text="${calc.numA}"></td>
					<td th:text="${calc.operateur}"></td>
					<td th:text="${calc.numB}"></td>
					<td>=</td>
					<td th:text="${calc.res}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div> -->
</body>
</html>