<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<title>Plant update</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-info">
	  <div class="container-fluid">
	    <a class="navbar-brand" th:href="@{/}">MyPotager</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	      <div class="navbar-nav">
	        <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
	        <a class="nav-link" th:href="@{/potager}">Potager List</a>
	        <a class="nav-link" th:href="@{/field}">Field List</a>
	        <a class="nav-link" th:href="@{/plant}">Plant List</a>
	      </div>
	    </div>
	  </div>
	</nav>
	<h1 class="col-12 text-center">Update the plant</h1>
	<h3 class="text-danger" th:text="${error}"></h3>
	<h3 class="text-success" th:text="${succes}"></h3>
	<form th:action="@{/plant/update/{id}(id=${plant.idPlant})}" method="post" class="offset-2 col-8">
		<div class="d-flex offset-4 col-4">
			<div class="col-6 d-flex justify-content-start">
	    		<label for="nom" class="justify-content-start">Name</label>
	    	</div>
			<div class="col-6 d-flex justify-content-end">
	    		<input type="text" th:field="*{plant.name}" id="nom" placeholder="name">
	    	</div>
	    </div>
		<div class="d-flex offset-4 col-4">
			<div class="col-6 d-flex justify-content-start">
    			<label for="plantType">Plant type</label>
	    	</div>
			<div class="col-6 d-flex justify-content-end">
			    <select th:field="*{plant.plantType}" id="plantType">
			    	<option value="FRUIT">FRUIT</option>
			    	<option value="VEGETABLE">VEGETABLE</option>
			    	<option value="LEAVE">LEAVE</option>
			    	<option value="ROOT">ROOT</option>
			    </select>
			</div>
    	</div>
	    <div class="d-flex offset-4 col-4">
	    	<div class="col-6 d-flex justify-content-start">
		    	<label for="variety">Variety</label>
		    </div>
	    	<div class="col-6 d-flex justify-content-end">
		    	<input type="text" th:field="*{plant.variety}" id="variety" placeholder="variety">
	    	</div>
	    </div>
	    <div class="d-flex offset-4 col-4">
	    	<div class="col-6 d-flex justify-content-start">
		    	<label for="aera">Aera</label>
		    </div>
	    	<div class="col-6 d-flex justify-content-end">
		    	<input type="number" th:field="*{plant.aera}" id="aera" placeholder="aera">
		    </div>
	    </div>
	    <div class="d-flex justify-content-center m-2">
	    	<input type="submit" value="Validate" class="btn btn-success m-2">   
			<a href="javascript:history.back();" class="btn btn-danger m-2">Cancel</a>
	    </div>
	</form>
</body>
</html>