<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create Potager</title>
</head>
<body>
<h1 th:text="${error}"></h1>
<form th:action="@{/potager/add}" th:object="${potagerForm}" method="post">
    <label for="nom">nom</label>
    <input type="text" th:field="*{potager.nom}" id="nom" placeholder="nom">
    <label for="aera">aera</label>
    <input type="number" step="1" th:field="*{potager.aera}" id="aera" placeholder="aera">
     <label for="location">location</label>
    <input type="text" th:field="*{potager.location}" id="location" placeholder="location">
    <label for="city">city</label>
    <input type="text" th:field="*{potager.city}" id="city" placeholder="city">
    <input type="submit" value="Validate">   
</form>
<div>
	<span><a th:href="@{/}">! go home !</a></span>
</div>
</body>
</html>