<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Show Potager</title>
</head>
<body>
	<div>
		<h2>Informations about Potager </h2>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>nom</th>
					<th>aera</th>
					<th>location</th>
					<th>city</th>
					<th>(links)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${potager.idPotager}"></td>
					<td th:text="${potager.nom}"></td>
					<td th:text="${potager.aera}"></td>
					<td th:text="${potager.location}"></td>
					<td th:text="${potager.city}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div>
		<h2>List of Fields</h2>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>nom</th>
					<th>aera</th>
					<th>location</th>
					<th>city</th>
					<th>(links)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${potager.idPotager}"></td>
					<td th:text="${potager.nom}"></td>
					<td th:text="${potager.aera}"></td>
					<td th:text="${potager.location}"></td>
					<td th:text="${potager.city}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	

<!-- <div>
	<h2>you want to add new Potager ?</h2>
	<span><a th:href="@{/potager/add}">create</a></span>
</div> -->
</body>
</html>