<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<meta charset="UTF-8">
<title>Show Potager</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-info">
	  <div class="container-fluid">
	    <a class="navbar-brand" th:href="@{/}">MyPotager</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	      <div class="navbar-nav">
	        <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
	        <a class="nav-link" th:href="@{/potager}">Potager List</a>
	        <a class="nav-link" th:href="@{/field}">Field List</a>
	        <a class="nav-link" th:href="@{/plant}">Plant List</a>
	      </div>
	    </div>
	  </div>
	</nav>
	<h1 class="col-12 text-center">Informations about this Potager</h1>
	<h3 class="text-danger" th:text="${error}"></h3>
	<h3 class="text-success" th:text="${succes}"></h3>
	<div class="offset-5 col-2 d-flex">
		<div class="col-6 d-flex justify-content-start">
			<span><strong>Identifier : </strong></span>
		</div>
		<div class="col-6 d-flex justify-content-end">
			<span th:text="${potager.idPotager}"></span>
		</div>
	</div>
	<div class="offset-5 col-2 d-flex">
		<div class="col-6 d-flex justify-content-start">
			<span><strong>Name : </strong></span>
		</div>
		<div class="col-6 d-flex justify-content-end">
			<span th:text="${potager.nom}"></span>
		</div>
	</div>
	<div class="offset-5 col-2 d-flex">
		<div class="col-6 d-flex justify-content-start">
			<span><strong>Aera : </strong></span>
		</div>
		<div class="col-6 d-flex justify-content-end">
			<span th:text="${potager.aera}"></span>
		</div>
	</div>
	<div class="offset-5 col-2 d-flex">
		<div class="col-6 d-flex justify-content-start">
			<span><strong>Location : </strong></span>
		</div>
		<div class="col-6 d-flex justify-content-end">
			<span th:text="${potager.location}"></span>
		</div>
	</div>
	<div class="offset-5 col-2 d-flex">
		<div class="col-6 d-flex justify-content-start">
			<span><strong>City : </strong></span>
		</div>
		<div class="col-6 d-flex justify-content-end">
			<span th:text="${potager.city}"></span>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<a th:href="@{/potager/update/{id}(id=${potager.idPotager})}"><button class="btn btn-success m-2">update</button></a>
		<a th:href="@{/potager/delete/{id}(id=${potager.idPotager})}"><button class="btn btn-danger m-2">delete</button></a>
	</div>	
	<br/>
	<h2 class="col-12 text-center">List of Fields</h2>
	<div class="offset-2 col-8">
		<table class="table">
			<thead>
				<tr>
					<th class="text-center">Id</th>
					<th class="text-center">Aera</th>
					<th class="text-center">GroundType</th>
					<th class="text-center">ExpositionType</th>
					<th class="text-center">Show</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="field : ${potager.fields}" class="text-center">
					<th th:text="${field.idField}" class="text-center"></th>
					<td th:text="${field.aera}" class="text-center"></td>
					<td th:text="${field.groundType}" class="text-center"></td>
					<td th:text="${field.expositionType}" class="text-center"></td>
					<td class="text-center"><a th:href="@{/field/{id}(id=${field.idField})}" class="btn btn-primary">Show</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="d-flex justify-content-center">
		<a th:href="@{/field/create/{id}(id=${potager.idPotager})}"><button class="btn btn-success m-2">Create a new field</button></a>
		<a th:href="@{/potager}"><button class="btn btn-danger m-2">Go Back To List</button></a>
	</div> 
</body>
</html>